<%- include('partials/header.ejs') %>
    <h1 class="text-center">
        <%= genre %> Products
    </h1>
    <div class="row justify-content-end">
        <div class="col-2">
            <a href="/products/new" class="btn btn-sm btn-success">Add New Product</a>
        </div>
    </div>


    <div class="row">
        <% for(let product of products) { %>
            <div class="col-md-6">
                <div class="card my-2">
                    <div class="card-body">
                        <h3 class="card-title">
                            <%= product.title %>
                        </h3>
                        <h4 class="card-subtitle my-3">
                            <%= product.artist %>
                        </h4>
                        <h5 class="card-text mb-2">
                            Price: $<%= product.price %>
                        </h5>
                        <a class="btn btn-sm btn-primary" href="/products/<%= product.id %>">Details</a>
                    </div>
                </div>
            </div>
            <% } %>
    </div>
    <% if (genre!=='All' ) { %>
        <a href="/products">Back to Index</a>
        <% } %>
            <%- include('partials/footer.ejs') %>